body{
  color: gray!important;
}
.social li{
  display: inline;
  padding-left: 5%!important;
}

a {
  color: gray!important;
  font-size: 16px;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption{
  background-color: rgba(255, 208, 208, 0.8); !important;
  z-index: 11px;
  color: white!important;
}

.carousel-control-prev{
  top: 600px!important;
  margin-left: 20%;
}

.carousel-control-next{
  top: 600px!important;
  margin-right: 20%;
}



/* весь контейнер поддерживает перспективу */
.flip-container {
	perspective: 1000;
}
	/* переверните сторону при проведении мышью */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 420px;
	height: 580px;
}

/* здесь находится скорость перевертывания */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
/* скройте обратную сторону во время переворота */
.front{
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
/* лицевая сторона размещена над обратной */
.front {
	z-index: 2;
}

/* обратная, изначально скрытая сторона */
.back {
	transform: rotateY(180deg);
}
@media(min-width:1900px){
  .flip-container, .front, .back {
  	width: 520px;
  	height: 700px;
  }
  .carousel-control-prev{
    top: 780px!important;
    margin-left: 20%;
  }

  .carousel-control-next{
    top: 780px!important;
    margin-right: 20%;
  }
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 40%!important;
    left: 0%!important;
    top: 25%!important;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
  }

  .line {
    padding: 4%;
    border-left: 2px solid white;
    margin-left: 30%;
    text-align: left;
    font-size: 2.75rem  ;
  }
  .line2 {
    padding: 4%;
    border-left: 2px solid white;
    margin-left: 30%;
    text-align: left;
  }

.main a {
  background-color: #D36F6F!important;
  width: 30%;
  height: 25%;
}

.fas {
  color: white!important;
}

img {
  width: 100%;
}

.second.row {
  padding-top: 3%;
  width: 90%;
  margin-left: 6%!important;
  margin-right: 0px!important;
}

.text p{
  font-size: 2rem;
}
.container2 {
    width: 60%;
    padding-right: 137px;
    padding-left: 15px;

    margin-left: auto;
}
.container2 p{
  font-size: 2rem;
}
.text-center{
  margin-bottom: 4%;
}
.text {
  border-left: 3px solid #D36F6F;
  padding-left: 5%;
  margin-left: 5%;
}

.photo{
  display: inline-block;
position: relative;
}

.third .line2, .fourth .line {
  border-left: 3px solid #D36F6F;
  margin-left: 0!important;
}

.footer {
  background-color: #D36F6F;
  font-size: 25px;
}

.text_footer{
  padding: 2%;
  color: white;
  text-align: center;
}

.footer .row  {
  margin-right: 0!important;
 margin-left: 0!important;
}

.footer a{
  color: white!important;
}

@media (max-width: 599px) and (min-width: 0px) {

  .main .line{
    margin-left: 0!important;
    padding: 0!important;
  }

  .main h3{
    font-size: 14px!important;
    line-height: 0.5!important;
  }
}
